.footer {
    background-color: #e70c0c;
    color: white;
    padding: 10px;
}

.container {
    padding: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 1.25rem;
}